html { width: 100%; height: 100%; overflow: hidden; }
    body { -webkit-font-smoothing: antialiased;width: 100%; height: 100%;overflow: hidden;margin: 0; padding: 0;}
    .share-button { float:left;margin-top:12px;margin-left:13px; }
    .fork img { opacity: .6; -webkit-transition: all .5s ease; transition: all .5s ease; }
    .fork img:hover { opacity: 1; }

div#menu{
font-family: Verdana, Geneva, sans-serif;
    font-size:14px;color:black;padding-left:7px;padding-right:7px;padding-top:2px;
     text-decoration:none;
      background: rgba(0, 0, 0, 0.5); 
      color:white;
    border-bottom:4px solid black;
    
    }

div#expand{
font-family: Verdana, Geneva, sans-serif;
    font-size:12px;color:black;padding-left:7px;padding-right:7px;
     text-decoration:none;
     font-weight:bold;
      background: rgba(0, 0, 0, 0.5); 
      color:white;
    border-bottom:4px solid black;
    }


a#logo{
font-family: Verdana, Geneva, sans-serif;
    font-size:36px;color:black;padding-left:7px;padding-right:7px;
     text-decoration:none;
      background: rgba(0, 0, 0, 0.5); 
      color:white;
    border-bottom:14px solid white;
    -webkit-text-stroke: 1px black;
    float:left;
    margin-top:7px;
    }
    
a#logo:hover {
    color:white;
    background: rgba(0, 0, 0, 0.77); 
}


   a#logo .tab { color:#3a88cc;float:left; }

	.nav {
	border-bottom:14px solid black;
	zoom: 0.72;
-ms-zoom: 0.72;
-webkit-zoom: 0.72;
-moz-transform:  scale(0.72,0.72);
-moz-transform-origin: left top;
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */}
   
   .nav ul {
    *zoom:1;
    list-style:none;
    margin:0;
    padding:0;
     -webkit-box-shadow: -3px 3px 7px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 3px 7px 1px rgba(0,0,0,0.75);
box-shadow: -3px 3px 7px 1px rgba(0,0,0,0.75);
}
.nav ul:before,.nav ul:after {
    content:"";
    display:table;
    
}
.nav ul:after {
    clear:both;
}
.nav ul > li {
    float:left;
    position:relative;
    font-family: Verdana, Geneva, sans-serif;
    font-size:16px;
    
}

.tag a {
    color:white;
    text-decoration:none;
    background: rgba(0, 0, 0, 0.5); 
    
    
}
.tag a:hover {
   background: rgba(0, 0, 0, 0.9); 
}

.nav a {

    display:block;
    padding:0px 0px;
    line-height:1.2em;
    color:white;
    border-left:3px solid black;
    border:1px solid black;
    text-decoration:none;
    background: rgba(0, 0, 0, 0.4); 
   
    
}
.nav a:hover {
   background: rgba(0, 0, 0, 0.7); 
}
.nav li ul {
    background:black;
}
.nav li ul li {
    width:200px;
    
}
.nav li ul a {
    border:none;
    padding:0px 10px;
    
}
.nav li ul a:hover {
    background:#3a88cc;
    color:white;
}
.nav li ul {

border-left:1px solid white;
    position:absolute;
    left:0;
    top:58px;
    z-index:1;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
}
.nav ul > li:hover ul {
    max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
}
  .rating {
    float:left;
    margin-left:7px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#000;
    text-shadow:1px 1px gray, 2px 2px black, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: white;
    text-shadow:1px 1px #black, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: white;
    text-shadow:1px 1px black, 2px 2px white, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px black, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
} 
   